{% extends 'base.html.twig' %}

{% block title %}A PROPOS - FREEBIRD{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4 text-center">A propos</h1>
    </div>
</div>

<div class="container" >
    <h2 class="display-5 text-left bg-info p-2">SEBASTIEN ANDRE - Moniteur & Directeur technique</h2>
    <div class="d-flex align-items-center my-5 mx-5">
        <div class="flex-shrink-0">
            <img class="thumbnail rounded-circle" src="{{ asset('images/about/SebastienAndre.jpg') }}" width="200" alt="photo directeur technique école">
        </div>
        <div class="flex-grow-1 ml-3 animate__fadeInRight">
            <ul class="p-3">
                <li>D.E.J.E.P.S, mention: parapente</li>
                <li>B.E.E.S, spécialité : parapente</li>
                <li>Qualification biplace parapente</li>
                <li>UCC Hand’icare</li>
                <li>Formateur Treuil</li>
            </ul>
        </div>
    </div>
    <h2 class="display-5 text-right bg-info p-2">XAVIER JUIGNE - Moniteur</h2>
    <div class="d-flex align-items-center my-5 mx-5">
        
        <div class="flex-grow-1 ml-3 animate__fadeInRight">
            <ul class="text-right p-3">
                <li>D.E.J.E.P.S, mention: parapente</li>
                <li>B.E.E.S, spécialité : parapente</li>
                <li>Qualification biplace parapente</li>
                <li>UCC Hand’icare</li>
            </ul>
        </div>
        <div class="flex-shrink-0">
            <img class="thumbnail rounded-circle" src="{{ asset('images/about/XAVportrait.jpg') }}" width="200" alt="Photo Moniteur">
        </div>
    </div>
    <h2 class="display-5 text-left bg-info p-2">CLAUDIO DA SILVA - Moniteur</h2>
    <div class="d-flex align-items-center my-5 mx-5">
        <div class="flex-shrink-0">
            <img class="thumbnail rounded-circle" src="{{ asset('images/about/claudio.jpg') }}" width="200" alt="photo directeur technique école">
        </div>
        <div class="flex-grow-1 ml-3 animate__fadeInRight">
            <ul class="p-3">
                <li>D.E.J.E.P.S, mention: parapente</li>
                <li>B.E.E.S, spécialité : parapente</li>
                <li>Qualification biplace parapente</li>
                <li>UCC Hand’icare</li>
            </ul>
        </div>
    </div>
    <h2 class="display-5 text-right bg-info p-2">RÉMY LEBRUN - Navette Man</h2>
    <div class="d-flex align-items-center my-5 mx-5">
        
        <div class="flex-grow-1 ml-3 animate__fadeInRight">
            <ul class="text-right p-3">
                <li>Pilote breveté ULM Pendulaire</li>
                <li>Pilote breveté ULM Paramoteur</li>
                <li>Pilote breveté Initial Parapente</li>
                <li>"Dégustateur" et "Admirateur" des bons single Malt !</li>
            </ul>
        </div>
        <div class="flex-shrink-0">
            <img class="thumbnail rounded-circle" src="{{ asset('images/about/remy.jpg') }}" width="200" alt="Photo Moniteur">
        </div>
    </div>

    
        
    </div>
</div>

{% endblock %}