{% extends 'base.html.twig' %}

{% block title %}Hello StaticController!{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Découvrez-nous !</h1>
    </div>
</div>

<div class="container" >
    <h2 class="display-5 text-center">Les stages</h2>
    <div class="d-flex align-items-center my-5">
        <div class="flex-shrink-0">
            <img src="{{asset('images/products/para1-1.jpg')}}" width="400" alt="...">
        </div>
        <div class="flex-grow-1 ml-3 animate__fadeInRight">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
    <h2 class="display-5 text-center">Les Baptêmes</h2>
    <div class="d-flex align-items-center my-5">
        
        <div class="flex-grow-1 ml-3 animate__fadeInRight">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="flex-shrink-0">
            <img src="{{asset('images/products/para1-1.jpg')}}" width="400" alt="...">
        </div>
    </div>

    <h2 class="display-5 text-center">Gallerie</h2>
    <div class="d-flex flex-wrap justify-content-between">
        {% for i in 0..8 %}
            <img src="{{asset('images/products/para1-1.jpg')}}" class="img-fluid col-4 mb-3" alt="...">
        {% endfor %}
        
    </div>
</div>


{% endblock %}
