{% extends 'base.html.twig' %}

{% block body %}
 
<div class="container p-5">
<h1 class="text-center">Politique de confidentialité</h1>
<p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quo quia quod odit nulla, architecto dicta. Nihil qui suscipit magnam natus cum magni fuga excepturi ea! Rerum, consectetur. Inventore, Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero ea blanditiis quam, impedit quo numquam, labore adipisci perspiciatis accusamus sapiente beatae itaque mollitia atque animi odio. Porro, molestiae non?
Laboriosam perspiciatis eum ratione fugiat asperiores, sunt porro obcaecati non. Nostrum reiciendis ducimus vero voluptatem, itaque deserunt qui recusandae non. Cupiditate beatae culpa ipsum adipisci ea in vero. Non, asperiores.
Magni suscipit eos cumque quo qui ab! Labore obcaecati ducimus unde in temporibus. Maxime nobis, possimus ullam natus eum quas ab deleniti! Non ipsum beatae dolorem, voluptas officia reprehenderit aliquid!
Accusamus distinctio maxime ab non quas quidem perspiciatis? Quidem, veniam odit. Debitis neque hic unde, dolores modi at saepe quas voluptas perferendis animi minus blanditiis obcaecati ea aperiam labore esse!
Voluptatibus molestiae dolorem doloremque nostrum, ipsa aspernatur quam nesciunt debitis in dignissimos sunt dolor, mollitia nam illum quae sint earum at tempore? Ut beatae voluptate suscipit! Nobis at ea commodi.</p>

<h2>Paiement</h2>
<p class="text-dark">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam est facere, suscipit accusamus fuga incidunt, culpa voluptate, dolore commodi aut nostrum beatae mollitia? Recusandae tempora voluptatem vitae facilis quae odio?
Dolor repellat neque dignissimos maxime, similique assumenda ratione, ducimus deleniti culpa nam voluptatem sequi maiores ab sit. Dolor quo odit nesciunt. Eos nulla consectetur nisi tempore nemo, aut illum repellat.
Officia eveniet provident soluta nesciunt. Aliquam quaerat libero voluptate aliquid nemo vel perspiciatis, ullam id iure repellat? Earum, accusamus nostrum sint, a id non obcaecati corrupti excepturi, molestiae atque dolorum.
Ad in ut provident cupiditate. Tempore quo, eius alias culpa velit similique officiis fuga in assumenda est id, nisi ullam? Voluptatem enim modi impedit nemo, animi maiores. Quod, natus id.
Nulla sed repudiandae, exercitationem praesentium maiores obcaecati commodi consequuntur perferendis fugit assumenda nesciunt dolor alias</p>
</div>
{% endblock %}