/*---------------------------------------------------  Base footer ------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

#id-section-footer{
    background-color: #444444;
}
#id-section-footer{
    color:rgba(245, 245, 245, 0.884);
}

#id-section-footer a,p{
    color:rgb(245, 245, 245);

}
#id-reseaux a{
    font-size: 30px;
    padding: 5px;
}


