{% extends 'baseAdmin.html.twig' %}

{% block title %}admin_category{% endblock %}

{% block body %} 

<div>
  <h2 class="pb-5">Liste des commandes</h2>

  <table class="table table-bordered table-dark text-center table-hover table-sm">
      <thead>
          <tr>
              <th>N°</th>
              <th>Nom</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          {% for category in categories %} 
              <tr>
                  <td class="align-middle">{{ loop.index }}</td>
                  <td class="align-middle">{{ category.name }}</td>
                  <td class="align-middle">
                      <a href=""><i class="fas fa-pen-square"></i></a>
                      <a href=""><i class="fas fa-trash-alt"></i></a>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  <div class="text-right my-5">
      <a href="{{ path('admin_category_create') }}" class="btn btn-outline-dark">Ajouter une catégorie</a>
  </div>
</div>
{% endblock %}

