{% extends "baseAdmin.html.twig" %}

{% block title %}catégories - formulaire {% endblock %} 

{% block body %} 

    <h1>Formulaire - catégories</h1>

    <div class="py-5">
    {{ form_start(categoryForm) }}
    {{ form_end(categoryForm) }}
    </div>

    <div class="text-center pb-5">
      <a href="{{ path('admin_categories') }}" class="btn btn-danger">Annuler</a>
    </div>

{% endblock %}