{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin_Accueil{% endblock %}

{% block body %}
    <div class="text-center">
        <h1> Bienvenue dans votre espace de gestion {{ app.user.lastName }}</h1>
        <p>Pour commencer merci de sélectionner un lien dans le menu à gauche</p>
    </div>

{% endblock %}
