{% extends 'baseAdmin.html.twig' %}

{% block title%} Utilisateur - formulaire {% endblock %}

{% block body %}
   <h1 class="text-center"> Formulaire - utilisateur </h1>
   
   <div class="px-5 py-5 ">
         {{form_start(userForm)}}
          <div class="form-group"> {{ form_row(userForm.email)}}</div>
         {{form_end(userForm)}}
         
   </div>

   <!-- <div class="text-center pb-5">
     <a href="{{ path('admin_users')}}" class="btn btn-danger"> Annuler </a>
   </div> -->

{% endblock %}